<div id="teamStats">

<h2>Team Stats order by Fielding Stolen Base Attempts</h2>
<div class="both-league">

  <div class="pacific">
  <h3>Pacific League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="f">
      <td class="f">Fighters</td>
      <td>72</td>
      <td>23</td>
      <td>0.784</td>
      <td>120</td>
      <td>39</td>
      <td>0.224</td>
    </tr> 
    <tr class="m">
      <td class="m">Marines</td>
      <td>80</td>
      <td>31</td>
      <td>0.736</td>
      <td>79</td>
      <td>32</td>
      <td>0.255</td>
    </tr> 
    <tr class="e">
      <td class="e">Eagles</td>
      <td>63</td>
      <td>29</td>
      <td>0.726</td>
      <td>81</td>
      <td>28</td>
      <td>0.252</td>
    </tr> 
    <tr class="l">
      <td class="l">Lions</td>
      <td>80</td>
      <td>36</td>
      <td>0.734</td>
      <td>74</td>
      <td>34</td>
      <td>0.305</td>
    </tr> 
    <tr class="b">
      <td class="b">Buffaloes</td>
      <td>87</td>
      <td>37</td>
      <td>0.714</td>
      <td>65</td>
      <td>27</td>
      <td>0.247</td>
    </tr> 
    <tr class="h">
      <td class="h">Hawks</td>
      <td>97</td>
      <td>31</td>
      <td>0.780</td>
      <td>60</td>
      <td>27</td>
      <td>0.256</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 666</td>
      <td>479</td>
      <td>187</td>
      <td>0.746</td>
      <td>479</td>
      <td>187</td>
      <td>0.254</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_p.html" target="_npb">Team Batting</a>
  </div>

  <div class="central">
  <h3>Central League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="db">
      <td class="db">Baystars</td>
      <td>29</td>
      <td>12</td>
      <td>0.744</td>
      <td>68</td>
      <td>36</td>
      <td>0.333</td>
    </tr> 
    <tr class="s">
      <td class="s">Swallows</td>
      <td>66</td>
      <td>39</td>
      <td>0.635</td>
      <td>73</td>
      <td>23</td>
      <td>0.200</td>
    </tr> 
    <tr class="d">
      <td class="d">Dragons</td>
      <td>30</td>
      <td>18</td>
      <td>0.644</td>
      <td>56</td>
      <td>34</td>
      <td>0.372</td>
    </tr> 
    <tr class="c">
      <td class="c">Carp</td>
      <td>61</td>
      <td>31</td>
      <td>0.686</td>
      <td>49</td>
      <td>25</td>
      <td>0.284</td>
    </tr> 
    <tr class="g">
      <td class="g">Giants</td>
      <td>74</td>
      <td>29</td>
      <td>0.745</td>
      <td>45</td>
      <td>23</td>
      <td>0.338</td>
    </tr> 
    <tr class="t">
      <td class="t">Tigers</td>
      <td>76</td>
      <td>32</td>
      <td>0.730</td>
      <td>45</td>
      <td>20</td>
      <td>0.283</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 497</td>
      <td>336</td>
      <td>161</td>
      <td>0.698</td>
      <td>336</td>
      <td>161</td>
      <td>0.302</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_c.html" target="_npb">Team Batting</a>
  </div>
      
</div>
<div class="updated">After games of October 30, 2020</div>

</div>
