<div id="teamStats">

<h2>Team Stats order by Fielding Stolen Base Attempts</h2>
<div class="both-league">

  <div class="pacific">
  <h3>Pacific League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="f">
      <td class="f">Fighters</td>
      <td>73</td>
      <td>23</td>
      <td>0.787</td>
      <td>121</td>
      <td>39</td>
      <td>0.222</td>
    </tr> 
    <tr class="e">
      <td class="e">Eagles</td>
      <td>64</td>
      <td>29</td>
      <td>0.729</td>
      <td>84</td>
      <td>28</td>
      <td>0.245</td>
    </tr> 
    <tr class="m">
      <td class="m">Marines</td>
      <td>83</td>
      <td>31</td>
      <td>0.743</td>
      <td>80</td>
      <td>32</td>
      <td>0.252</td>
    </tr> 
    <tr class="l">
      <td class="l">Lions</td>
      <td>81</td>
      <td>37</td>
      <td>0.730</td>
      <td>75</td>
      <td>34</td>
      <td>0.302</td>
    </tr> 
    <tr class="b">
      <td class="b">Buffaloes</td>
      <td>88</td>
      <td>37</td>
      <td>0.717</td>
      <td>66</td>
      <td>27</td>
      <td>0.244</td>
    </tr> 
    <tr class="h">
      <td class="h">Hawks</td>
      <td>98</td>
      <td>31</td>
      <td>0.782</td>
      <td>61</td>
      <td>28</td>
      <td>0.263</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 675</td>
      <td>487</td>
      <td>188</td>
      <td>0.748</td>
      <td>487</td>
      <td>188</td>
      <td>0.252</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_p.html" target="_npb">Team Batting</a>
  </div>

  <div class="central">
  <h3>Central League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="db">
      <td class="db">Baystars</td>
      <td>29</td>
      <td>13</td>
      <td>0.725</td>
      <td>71</td>
      <td>36</td>
      <td>0.323</td>
    </tr> 
    <tr class="s">
      <td class="s">Swallows</td>
      <td>67</td>
      <td>40</td>
      <td>0.633</td>
      <td>78</td>
      <td>23</td>
      <td>0.189</td>
    </tr> 
    <tr class="d">
      <td class="d">Dragons</td>
      <td>31</td>
      <td>19</td>
      <td>0.638</td>
      <td>56</td>
      <td>35</td>
      <td>0.379</td>
    </tr> 
    <tr class="c">
      <td class="c">Carp</td>
      <td>61</td>
      <td>32</td>
      <td>0.678</td>
      <td>50</td>
      <td>26</td>
      <td>0.290</td>
    </tr> 
    <tr class="g">
      <td class="g">Giants</td>
      <td>79</td>
      <td>29</td>
      <td>0.757</td>
      <td>46</td>
      <td>24</td>
      <td>0.343</td>
    </tr> 
    <tr class="t">
      <td class="t">Tigers</td>
      <td>79</td>
      <td>32</td>
      <td>0.738</td>
      <td>45</td>
      <td>21</td>
      <td>0.295</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 511</td>
      <td>346</td>
      <td>165</td>
      <td>0.699</td>
      <td>346</td>
      <td>165</td>
      <td>0.301</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_c.html" target="_npb">Team Batting</a>
  </div>
      
</div>
<div class="updated">After games of November 1, 2020</div>

</div>
