<div id="teamStats">

<h2>Team Stats order by Fielding Stolen Base Attempts</h2>
<div class="both-league">

  <div class="pacific">
  <h3>Pacific League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="f">
      <td class="f">Fighters</td>
      <td>62</td>
      <td>17</td>
      <td>0.808</td>
      <td>105</td>
      <td>31</td>
      <td>0.208</td>
    </tr> 
    <tr class="m">
      <td class="m">Marines</td>
      <td>75</td>
      <td>28</td>
      <td>0.745</td>
      <td>70</td>
      <td>26</td>
      <td>0.236</td>
    </tr> 
    <tr class="l">
      <td class="l">Lions</td>
      <td>65</td>
      <td>32</td>
      <td>0.714</td>
      <td>62</td>
      <td>27</td>
      <td>0.299</td>
    </tr> 
    <tr class="e">
      <td class="e">Eagles</td>
      <td>58</td>
      <td>23</td>
      <td>0.757</td>
      <td>64</td>
      <td>24</td>
      <td>0.267</td>
    </tr> 
    <tr class="h">
      <td class="h">Hawks</td>
      <td>76</td>
      <td>26</td>
      <td>0.776</td>
      <td>56</td>
      <td>26</td>
      <td>0.260</td>
    </tr> 
    <tr class="b">
      <td class="b">Buffaloes</td>
      <td>78</td>
      <td>30</td>
      <td>0.731</td>
      <td>57</td>
      <td>22</td>
      <td>0.233</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 570</td>
      <td>414</td>
      <td>156</td>
      <td>0.753</td>
      <td>414</td>
      <td>156</td>
      <td>0.247</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_p.html" target="_npb">Team Batting</a>
  </div>

  <div class="central">
  <h3>Central League</h3>

  <table>
    <tbody>
      <tr><th></th><th colspan="3">Batting</th><th colspan="3">Fielding</th></tr>
      <tr><th></th><th>SB</th><th>CS</th><th>SB%</th><th>SB</th><th>CS</th><th>CS%</th></tr>
    <tr class="db">
      <td class="db">Baystars</td>
      <td>23</td>
      <td>11</td>
      <td>0.719</td>
      <td>53</td>
      <td>33</td>
      <td>0.383</td>
    </tr> 
    <tr class="s">
      <td class="s">Swallows</td>
      <td>54</td>
      <td>37</td>
      <td>0.598</td>
      <td>60</td>
      <td>20</td>
      <td>0.203</td>
    </tr> 
    <tr class="d">
      <td class="d">Dragons</td>
      <td>23</td>
      <td>16</td>
      <td>0.611</td>
      <td>49</td>
      <td>30</td>
      <td>0.373</td>
    </tr> 
    <tr class="t">
      <td class="t">Tigers</td>
      <td>65</td>
      <td>27</td>
      <td>0.729</td>
      <td>42</td>
      <td>19</td>
      <td>0.298</td>
    </tr> 
    <tr class="c">
      <td class="c">Carp</td>
      <td>48</td>
      <td>27</td>
      <td>0.662</td>
      <td>37</td>
      <td>22</td>
      <td>0.308</td>
    </tr> 
    <tr class="g">
      <td class="g">Giants</td>
      <td>63</td>
      <td>26</td>
      <td>0.729</td>
      <td>35</td>
      <td>20</td>
      <td>0.365</td>
    </tr> 
    <tr class="z">
      <td class="z">Total: 420</td>
      <td>276</td>
      <td>144</td>
      <td>0.678</td>
      <td>276</td>
      <td>144</td>
      <td>0.322</td>
    </tr> 
    </tbody>
  </table>

  <a href="https://npb.jp/bis/2020/stats/tmb_c.html" target="_npb">Team Batting</a>
  </div>
      
</div>
<div class="updated">After games of October 14, 2020</div>

</div>
